<strong>Olá, {{ user }}</strong>
<p>{{ resgisteredUser }} se inscreveu no meetup {{ meetup }}, confira os detalhes abaixo:</p>
<p>
  <strong>Nome: </strong> {{ resgisteredUser }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
  <br />
</p>
